/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Fonts */
@font-face {
  font-family: 'oswaldregular';
  src: url('fonts/oswald-variablefont_wght-webfont.woff2') format('woff2'),
       url('fonts/oswald-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quattrocentoregular';
  src: url('fonts/quattrocento-regular-webfont.woff2') format('woff2'),
       url('fonts/quattrocento-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quattrocentobold';
  src: url('fonts/quattrocento-bold-webfont.woff2') format('woff2'),
       url('fonts/quattrocento-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/* Form Element CSS */
a {
  font-family: oswaldregular;
  color: rgb(121, 151, 220);
  font-weight: bolder;
}
body {
  font-family: quattrocentoregular;
  color: white;
}

h1,h2,h3,h4,h5,h6 {
  font-family: oswaldregular;
}
h1 {
  font-size: 3.052rem;
  line-height: 5rem;
}
h2 {
  font-size: 2.441rem;
}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

body {
  height: 100vh;
  width: 100vw;
  background: rgb(23, 16, 33);
}

/* Page Layout */
.page-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.page-left {
  background-image: url(img/form-img.jpeg);
  background-size: cover;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  padding: 10px 0;
}

.page-left-logo-container img{
  height: 8rem;
  width: auto;
  padding: 20px;

}

.page-left-logo-container span{
  font-size: 6rem;
  display: flex;
  flex-shrink: 1;
}

.caption {
  position: fixed;
  left: 10%;
  bottom: 0;
  width: 20%;
  text-align: center;
  background: rgba(188, 112, 255, 0.2);
  padding: 5px;
}


.page-left-logo-container {
  background-color: rgba(15,15,15,.7);
  display: flex;

  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30%;
}

.page-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  
}

.page-right p {
  padding: 20px 0;
}



.form-container {
background: rgb(136,0,255);
background: linear-gradient(90deg, rgba(136,0,255,0.4) 0%, rgba(0,185,255,0.4) 100%);
box-shadow: 35px 0px 40px 10px rgb(139, 35, 230);
padding: 30px 50px;
margin: 20px -50px;
width: 100%;
}

.form-title {
  padding-bottom: 20px;
}



/*Animations*/
@-webkit-keyframes silo-fade {
  0% {
      opacity: 0;
      -webkit-transform: translateY(-1.4em);
  }
  100% {
      opacity: 1;
      -webkit-transform: translateY(0);
  }
}
@-moz-keyframes silo-fade {
  0% {
      opacity: 0;
      -moz-transform: translateY(-1.4em);
  }
  100% {
      opacity: 1;
      -moz-transform: translateY(0);
  }
}
@keyframes silo-fade {
  0% {
      opacity: 0;
      -webkit-transform: translateY(-1.4em);
      -moz-transform: translateY(-1.4em);
      -ms-transform: translateY(-1.4em);
      -o-transform: translateY(-1.4em);
      transform: translateY(-1.4em);
  }
  100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
  }
}

@-webkit-keyframes silo-help {
  0% {
      opacity: 0;
  }
  4% {
      opacity: 0;
  }
  5% {
      opacity: 1;
  }
  100% {
      opacity: 1;
  }
}
@-moz-keyframes silo-help {
  0% {
      opacity: 0;
  }
  4% {
      opacity: 0;
  }
  5% {
      opacity: 1;
  }
  100% {
      opacity: 1;
  }
}
@keyframes silo-help {
  0% {
      opacity: 0;
  }
  4% {
      opacity: 0;
  }
  5% {
      opacity: 1;
  }
  100% {
      opacity: 1;
  }
}




#signupform label {
  padding: 5px 0;
  font-size: 14px;
  font-size: 0.75rem;
  display: none;
  position: absolute;
  margin-top: -50px;
  padding-left: 10px;
  color: white;
  -webkit-animation: silo-fade 0.2s;
  -moz-animation: silo-fade 0.2s;
  animation: silo-fade 0.2s;
  max-width: 80%;
}

/* General Input Style */

input {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
  height: 40px;
  background: rgba(171, 74, 195, 0.25);
  border-radius: 10px;
  border: #ccc solid 1px;
  width: 200px;
  color: white;
}



#signupform  input:focus + label,
#signupform  input[required]:valid + label,
#signupform  input:not(:placeholder-shown) + label {
    display: block;
}

#signupform input:invalid{
    border: 1px solid #ff4e51;
    background: rgba(171, 74, 195, 0.25);
}
#signupform input:focus:invalid{
    border: 1px solid #ff4e51;
    background: rgba(171, 74, 195, 0.25);
}
#signupform input:invalid + label {
    color: #fff;
}
#signupform input:focus:invalid + label:after {
    content: " (" attr(data-help) ")";
    animation: silo-help 60s;
}
#signupform input:invalid + label:after {
    content: " (" attr(data-help) ")";
}
#signupform input:valid {
    border: 1px solid #46fe87;
    background: rgba(171, 74, 195, 0.25);
}

#signupform input:valid + label {
    color: #ffffff;
}
#signupform input:placeholder-shown {
    border: 1px solid #d8d8d8;
    background: rgba(171, 74, 195, 0.25);
}
#signupform input::placeholder {
    color: #c0c0c0;
}
#signupform input::-webkit-input-placeholder {
    color: #c0c0c0;
}
#signupform input:-ms-input-placeholder {
    color: #c0c0c0;
}
#signupform input::-moz-placeholder{
    color: #c0c0c0;
}
#signupform input:focus::placeholder,
#signupform textarea:focus::placeholder {
    color: transparent;
}
#signupform input:focus::-webkit-input-placeholder,
#signupform textarea:focus::-webkit-input-placeholder {
    color: transparent;
}
#signupform input:focus:-ms-input-placeholder,
#signupform textarea:focus:-ms-input-placeholder {
    color: transparent;
}
#signupform input:focus::-moz-placeholder,
#signupform textarea:focus::-moz-placeholder {
    color: transparent;
}


#signupform input[type="submit"] {
  text-transform: uppercase;
  height: 50px;
  border-radius: 20px;
  margin:20px 0;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  color:black;
  border: white 1px solid;
}
#signupform input[type="submit"]:hover {
  text-transform: uppercase;
  height: 50px;
  border-radius: 20px;
  margin:20px 0;
  padding: 15px;
  background-color: rgb(190, 175, 201);
  color:black;
  border: white 1px solid;
}

@media (min-width: 600px) {
  #signupform > .signupform-fname,
  #signupform > .signupform-lname,
  #signupform > .signupform-email,
  #signupform > .signupform-phone,
  #signupform > .signupform-password,
  #signupform > .signupform-confirm-password {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
              -ms-flex: 0 0 50%;
                      flex: 0 0 50%;
      max-width: 40%;
      padding: 10px 0;
  }
}


/* Form Stuff */


input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
  background-color: rgba(255, 255, 255, .7);
  padding: 10px 10px 0px 10px;
  font-size: 16px;
  font-size: 1rem;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
:focus {
  outline: 0;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="password"]:focus  {
  background-color: rgba(255, 255, 255, 1);
  
}

#signupform {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
  -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
}

#signupform > div {
  flex: 1 1 40%;
  max-width: 40%;
}

#signupform > [class^="signup-form"],
#signupform > .form-submit {
    position: relative;
    min-height: 1px;
    padding-top: 20px;
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
    max-width: 100%;
}

.password-requirements {
  padding-left: 20px;
}

.password-requirements > h5 {
  padding-top: 10px;
}

.password-requirements ul{
  list-style:circle;
  margin-left: 20px;
  padding-top: 10px;
}

.form-container > h2 {
  margin:20px 0;
}

.form-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

}
